nav{
    background-color: #15334e;
    font-weight: bold;
    border-bottom:solid 3px white ;
    
}

.navbar-nav .nav-link:hover, 
.nav-link.active {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar-toggler-icon {
    filter: invert(100%); /* Changes the color to white */
}
.navbar-toggler .toggler-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: 0.3s;
}
.navbar-toggler[aria-expanded="true"] .toggler-icon:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .toggler-icon:nth-child(2) {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .toggler-icon:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}